
<footer class="mainfooter" role="contentinfo">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3 col-sm-3 text-center">
                <p class="funky_fires">BURGERS, FISH AND FRIES</p>
            </div>
            <div class="col-md-6 col-sm-6 text-center social_media_links">
                <a href="https://www.facebook.com/funkyfriesandburgers/" target="_blank" class="web_link">
                    <i class="fa-brands fa-square-facebook fb_logo"></i>
                </a>
                <a href="https://www.instagram.com/funkyfriesandburgers/" target="_blank" class="web_link">
                    <i class="fa-brands fa-instagram inta_logo"></i>
                </a>
                <a href="https://g.page/r/CRgMGK7W5uKiEAE" target="_blank" class="web_link">
                    <i class="fa-brands fa-google-plus-g google_logo"></i>
                </a>
                <a href="http://www.yelp.com/biz/funky-fries-and-burgers-el-cajon" target="_blank" class="web_link">
                    <i class="fa-brands fa-yelp yelp_logo"></i>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <p class="right_reserved">2023 ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</footer>
