/* line 2, app/assets/stylesheets/footer.scss */
.mainfooter {
  background-color: #232222;
  padding: 20px 0px 20px 0px;
  color: #fff;
}

/* line 8, app/assets/stylesheets/footer.scss */
.funky_fires {
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

/* line 15, app/assets/stylesheets/footer.scss */
.right_reserved {
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

/* line 22, app/assets/stylesheets/footer.scss */
.social_media_links {
  padding-top: 5px;
}

/* line 26, app/assets/stylesheets/footer.scss */
.web_link {
  color: #000;
}

/* line 30, app/assets/stylesheets/footer.scss */
.yt_logo {
  width: 35px;
  height: 35px;
  background: transparent;
}

/* line 36, app/assets/stylesheets/footer.scss */
.fb_logo {
  font-size: 35px;
  color: #32589a;
  margin-right: 15px;
}

/* line 42, app/assets/stylesheets/footer.scss */
.inta_logo {
  font-size: 35px;
  color: #e4116c;
  margin-right: 15px;
  margin-left: 15px;
}

/* line 49, app/assets/stylesheets/footer.scss */
.google_logo {
  font-size: 35px;
  color: #dd2c2c;
  margin-right: 15px;
  margin-left: 15px;
}

/* line 56, app/assets/stylesheets/footer.scss */
.yelp_logo {
  font-size: 30px;
  color: #eb3a2d;
  margin-right: 15px;
  margin-left: 15px;
}
