/* line 1, app/assets/stylesheets/header.scss */
.custom-nav-bar {
  border-bottom: 2px solid #090909b5;
  height: 75px;
  padding: 15px 45px 0px 45px;
}

@media (max-width: 576px) {
  /* line 8, app/assets/stylesheets/header.scss */
  .logo_img {
    width: 75px;
    text-align: center;
  }
  /* line 12, app/assets/stylesheets/header.scss */
  .nav-bar-container {
    margin-top: 50px;
  }
  /* line 15, app/assets/stylesheets/header.scss */
  .nav-item {
    font-size: 20px;
    letter-spacing: .2rem;
    font-family: 'cuanky-demo-regular';
  }
  /* line 20, app/assets/stylesheets/header.scss */
  .nav-item a:hover {
    color: #ed0008;
  }
}

/* line 27, app/assets/stylesheets/header.scss */
.active {
  padding: 0px 20px 0px 20px;
}

/* line 29, app/assets/stylesheets/header.scss */
.active a {
  color: #ed0008;
  letter-spacing: .2rem;
  border-bottom: 3px solid #ed0008;
}

/* line 33, app/assets/stylesheets/header.scss */
.active a:hover {
  color: #ed0008;
  border-bottom: 3px solid #ed0008;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 767px) {
  /* line 42, app/assets/stylesheets/header.scss */
  .logo_img {
    width: 120px;
    text-align: center;
  }
  /* line 46, app/assets/stylesheets/header.scss */
  .nav-bar-container {
    margin-top: 50px;
  }
  /* line 49, app/assets/stylesheets/header.scss */
  .nav-item {
    font-size: 20px;
    letter-spacing: .2rem;
    text-align: center;
    font-family: 'cuanky-demo-regular';
    padding: 0px 20px 0px 20px;
  }
  /* line 56, app/assets/stylesheets/header.scss */
  .nav-item a:hover {
    color: #ed0008;
  }
  /* line 61, app/assets/stylesheets/header.scss */
  .vertical-line {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
  /* line 69, app/assets/stylesheets/header.scss */
  .nav-item {
    font-size: 27px;
    letter-spacing: .2rem;
    font-family: 'cuanky-demo-regular';
    padding: 0px 20px 0px 20px;
    text-align: center;
  }
  /* line 76, app/assets/stylesheets/header.scss */
  .nav-item a:hover {
    color: #ed0008;
    border-bottom: 3px solid #ed0008;
  }
  /* line 82, app/assets/stylesheets/header.scss */
  .logo_img {
    width: 180px;
    margin-bottom: -75px;
    margin-left: 50px;
  }
  /** vertical line */
  /* line 93, app/assets/stylesheets/header.scss */
  .vertical-line {
    width: 3px;
    background-color: #3b3b3b;
    height: 25px;
    /* float: left; */
    margin-top: 13px;
  }
}

/* line 102, app/assets/stylesheets/header.scss */
.nav-item-home {
  padding-right: 10px;
}

/* line 106, app/assets/stylesheets/header.scss */
.bff_navbar {
  z-index: 100;
}
