<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
     <a class="navbar-brand d-flex w-50 me-auto" href="http://www.foodissey.it">Foodissey</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
         <div class="nav navbar-nav w-100 justify-content-center">
            <a href="#" class="nav-link " %> Uno </a>
            <a href="#" class="nav-link " %> due </a>
            <a href="#" class="nav-link " %> tre </a>
            <a href="#" class="nav-link " %> quattro </a>
         </div>
         <div class="nav navbar-nav ms-auto w-100 justify-content-end">
            <a href="#" class="nav-link " %> login </a>
         </div>
      </div>
   </div>
</nav>