@font-face {
  font-family: "prox-nova-alt-extra-condensed-thin";
  font-style: thin;
  font-weight: 700;
  font-display: block;
  src: url("Proxima-Nova-Alt-Extra-Condensed-Thin.otf");
}

@font-face {
  font-family: "prox-nova-condensed-bold";
  font-style: bold;
  font-weight: 900;
  font-display: block;
  src: url("Proxima-Nova-Condensed-Bold.otf");
}