
.mainfooter {
    background-color: #232222;
    padding: 20px 0px 20px 0px;
    color: #fff;
    font-family: "prox-nova-alt-extra-condensed-thin";
}

.funky_fires {
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: .2rem;
}

.right_reserved {
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: .2rem;
}

.social_media_links{
    padding-top: 5px;
}

.web_link{
    color: #000;
}

.yt_logo {
    width: 35px;
    height: 35px;
    background: transparent;
}

.fb_logo {
    font-size: 35px;
    color: #32589a;
    margin-right: 15px;
}

.inta_logo {
    font-size: 35px;
    color: #e4116c;
    margin-right: 15px;
    margin-left: 15px;
}

.google_logo {
    font-size: 35px;
    color: #dd2c2c;
    margin-right: 15px;
    margin-left: 15px;
}

.yelp_logo {
    font-size: 30px;
    color: #eb3a2d;
    margin-right: 15px;
    margin-left: 15px;
}