.carouselExampleControls {
    min-height: 450px;
}

.slider_img {
    height: 65%;
    max-height: 700px;
    width: 65% !important;
    margin: auto;
}

.carousel-inner-background {
    background-color: #e6dada;
}

.carousel-item-background  {
    background-color: #63500b;
}

.slider_imgs {
    height: 1000px;
    width: 100%;
}